.coin-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #14161a;
  color: white;
}

.content h1 {
  text-align: center;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rank {
  margin-top: 1.5rem;
  padding: 0.8rem;
  border-image: linear-gradient(25deg, #2600fc, #ff00ea) 10;
  border-width: 2px;
  border-style: solid;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: revert;
  align-self: center;
}

.icon-name-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  margin-right: 20px;
  font-weight: bolder;
}
.icon-name-div h2 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 800;
}

.coin-heading span {
  font-size: large;
  font-weight: 800;
}

.green {
  color: #00fd00;
}

.red {
  color: red;
}

.coin-price-update {
  margin: 1rem;
  padding: 1rem 1.5rem;
}

.coin-price-update p {
  font-size: 1rem;
  font-family: Fahkwang;
  text-align: justify;
}

.price-trends-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
  padding: 1.5rem 2rem;
  margin: 2rem 2rem;
}

.price-trends {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.price-trends-individual {
  min-width: 96px;
  min-height: 92px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  /* border-image: linear-gradient(#ff2e0e, #3d23b9) 30; */
  border-image: linear-gradient(25deg, #2600fc, #ff00ea) 30;
  border-width: 2px;
  border-style: solid;  
  box-shadow: 0px 8px 12px #18191b;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin: 1rem 1rem;
}

.price-trends-individual p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bolder;
}

.price-trends-individual span p {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

/* About starts */
.about {
  margin: 1rem;
  padding: 1rem 1.5rem;
  text-wrap: balance;
  text-align: justify;
  font-family: Fahkwang;
}

.about h3 {
  font-size: 2rem;
  font-weight: 900;
}

.social {
  display: flex;
  margin: 1rem 0;
  flex-wrap: wrap;
  font-size: 1.2rem;
  font-weight: 700;
}

.website {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.community {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.community-social {
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
}
/* About ends */

.trending-coins-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;
  padding: 1rem 1.5rem;
}

.trending-coins-head {
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Fahkwang", sans-serif;
}

.color-text-span {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(25deg, #2600fc, #ff00ea);
}

@media (max-width: 680px) {
  .coin-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .icon-name-div {
    margin-right: 0;
  }

  .coin-price {
    display: flex;
    align-items: center;
  }

  .coin-price-update-head,
  .trending-coins-head{
    font-size: 40px;
  }
}

@media (max-width: 480px){
  .coin-price-update-head,
  .trending-coins-head{
    font-size: 28px;
  }
}

/*  */

.coin-name {
  font-size: 48px;
  font-family: Fahkwang;
}

.info-chart-div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem 1.5rem;
}

.info-div {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.chart-div {
  width: 60%;
}

.icon-name-symbol-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.icon-name-symbol-div h1 {
  font-size: 36px;
  font-family: Fahkwang;
  font-weight: bold;
}

.icon-name-symbol-div span {
  font-family: Fahkwang;
  color: #14ffec;
  background-color: #14ffec40;
  padding: 0.2rem 0.8rem;
}

.price-24h-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
}

.price-24h-head-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statistics-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statistics-left-div,
.statistics-right-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.statistics-left-div {
  align-items: flex-start;
  justify-content: center;
}

.statistics-right-div {
  align-items: flex-end;
  justify-content: center;
}

.statistics-head {
  color: #808080;
  font-size: 16px;
  font-family: Fahkwang;
}

.statistics-head-red,
.statistics-head-green {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.coin-price{
  text-align: left;
}

.statistics-data {
  font-size: 16px;
  font-family: Fahkwang;
}

@media only screen and (max-width: 1020px) {
  .info-chart-div {
    flex-direction: column;
  }

  .info-div,
  .chart-div {
    width: 100%;
  }

  .info-div{
    margin-bottom: 2rem;
  }
}

.days-btns-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.day-btn{
  padding: 0.4rem 3rem;
  font-size: 14px;
  font-family: 'Fahkwang';
  font-weight: 900;
  background-color: #ffff;
}

.day-btn:hover{
  cursor: pointer;
}

@media (max-width: 560px){
  .day-btn{
    padding: 0.4rem 2rem;
  }
}

@media (max-width: 450px){
  .day-btn{
    padding: 0.4rem 1rem;
  }
}

@media (max-width: 410px){
.icon-name-symbol-div h1{
  font-size: 28px;
}
}